/*
Модальное окно
добавление новой категории
*/
<template>
  <modal
    v-show="showModal"
    @close="showModal = false">
    <div slot="header" class="modal-header__title">
      Редактор категорий
    </div>
    <div class="modal-container" slot="body">
      <div class="form-container">

        <form action="" class="form-main">
          <input class="is-500 h3" type="text" placeholder="Название категории*">
          <div class="line"/>
          <textarea style="flex: 1 0 0px;" class="is-400 h3" placeholder="Описание материала (до 150 знаков)*"></textarea>
          <div class="line"/>
          <div class="cover">
            <div class="h4">Обложка материала</div>
            <button class="button grey-button grey h4">Выбрать обложку</button>
          </div>
        </form>

      </div>

    </div>

  </modal>
</template>

<script>
import Modal from "../../components/UI/Modal";
export default {
  name: "CategoryEditorModal",
  components: {Modal},
  data() {
    return {
      showModal:false,
    }
  },
  methods: {
  },
}
</script>

<style lang="scss" scoped>
.form-main{
  textarea{
    max-height: 50vh;
    min-height: 20vh;
  }
}
</style>
