/*
Модальное окно
добавление нового материала
*/
<template>
  <modal
    title="First modal with content"
    v-show="showModal"
    @close="showModal = false">
    <div slot="header" class="modal-header__title">
      Редактор материалов
    </div>
    <div class="modal-container" slot="body">
      <div class="form-container">

        <form action="" class="form-main" v-show="selectMaterialType=='article'">
          <input class="is-500 h3" type="text" placeholder="Введите заголовок*">
          <div class="line"/>
<!--          <textarea class="is-400 h3" type="text" multiple-->
<!--                    placeholder="Описание материала (до 150 знаков)*"></textarea>-->
          <div>
            <quill-editor
              ref="editor"
              v-model="content"
              :options="editorOption"
              @blur="onEditorBlur($event)"
              @focus="onEditorFocus($event)"
              @ready="onEditorReady($event)"
            />
          </div>


          <div class="line"/>
          <textarea style="flex: 1 0 0px;" class="is-400 h3" type="text" multiple
                    placeholder="О чём вы хотите рассказать?"></textarea>
          <div class="line"/>
          <div class="questions">
            <header class="questions__header">
              <div class="h4 is-500">Создать форму отправки</div>
              <div class="button grey-button grey h4" @click="addNewQuestion">Добавить вопрос</div>
            </header>
            <div class="questions__container">
              <div class="questions__item" v-for="(question, index) in questions" :key="index">
                <input class="h4" type="text" v-model="question.text" placeholder="Введите ваш вопрос">
                <div class="questions__delete" @click="deleteQuestion(index)">×</div>
              </div>
            </div>
          </div>
          <div class="line"/>
          <div class="cover">
            <div class="h4 is-500">Обложка материала</div>
            <!-- <label class="button grey-button grey h4"> <input type="file">Выбрать обложку </label>-->
            <label class="button grey-button grey h4 is-500">
              <input style="display: none" type="file" name="photo" accept="image/*,image/jpeg">
              Выбрать обложку
            </label>
          </div>
        </form>

        <form action="" class="form-main" v-show="selectMaterialType=='video'">
          <input class="is-500 h3" type="text" placeholder="Введите заголовок*">
          <div class="line"/>
          <textarea class="is-400 h3" type="text" multiple
                    placeholder="Описание материала (до 150 знаков)*"></textarea>
          <div class="line"/>
          <textarea style="flex: 1 0 0px;" class="is-400 h3" type="text" multiple
                    placeholder="Вставьте ссылку на видео, которое должно открыться на весь экран пользователя"></textarea>
          <div class="line"/>
          <div class="cover">
            <div class="h4 is-500">Обложка материала</div>
            <!-- <label class="button grey-button grey h4"> <input type="file">Выбрать обложку </label>-->
            <!--            <button class="button grey-button grey h4 is-500">Выбрать обложку</button>-->

            <label class="button grey-button grey h4 is-500">
              <input style="display: none" type="file" name="photo" accept="image/*,image/jpeg">
              Выбрать обложку
            </label>

          </div>
        </form>

        <form action="" class="form-main" v-show="selectMaterialType=='link'">
          <input class="is-500 h3" type="text" placeholder="Введите заголовок*">
          <div class="line"/>
          <textarea class="is-400 h3" type="text" multiple
                    placeholder="Описание материала (до 150 знаков)*"></textarea>
          <div class="line"/>
          <textarea style="flex: 1 0 0px;" class="is-400 h3" type="text" multiple
                    placeholder="Вставьте ссылку, которая должна открыться на весь экран пользователя"></textarea>
          <div class="line"/>
          <div class="cover">
            <div class="h4 is-500">Обложка материала</div>
            <!-- <label class="button grey-button grey h4"> <input type="file">Выбрать обложку </label>-->
            <label class="button grey-button grey h4 is-500">
              <input style="display: none" type="file" name="photo" accept="image/*,image/jpeg">
              Выбрать обложку
            </label>
          </div>
        </form>

      </div>
      <div class="select-container">
        <div>
          <!--          <div class="radio-container">-->
          <!--            <div class="h3">Тип материала</div>-->
          <!--            <label>-->
          <!--              <input v-model="selectMaterialType" name="materialType" type="radio" value="article"-->
          <!--                     checked>-->
          <!--              <span class="h4 grey is-400">Статья</span>-->
          <!--            </label>-->
          <!--            <div class="line"/>-->
          <!--            <label class="h4 grey is-400">-->
          <!--              <input v-model="selectMaterialType" name="materialType" type="radio" value="video">-->
          <!--              <span class="h4 grey is-400">Видео</span>-->
          <!--            </label>-->
          <!--            <div class="line"/>-->
          <!--            <label>-->
          <!--              <input v-model="selectMaterialType" name="materialType" type="radio" value="link">-->
          <!--              <span class="h4 grey is-400">Ссылка</span>-->
          <!--            </label>-->
          <!--          </div>-->


          <div class="radio-container">
            <div class="h3">Доступ</div>
            <label>
              <input v-model="selectAccessType" name="accessType" type="radio" value="free"
                     checked>
              <span class="h4 grey is-400">Бесплатный</span>
            </label>
            <div class="line"/>
            <label class="h4 grey is-400">
              <input v-model="selectAccessType" name="accessType" type="radio" value="subscription">
              <span class="h4 grey is-400">Подписка</span>
            </label>
            <div class="line"/>
            <!--            <label>-->
            <!--              <input v-model="selectAccessType" name="accessType" type="radio" value="commercial">-->
            <!--              <span class="h4 grey is-400">Платный</span>-->
            <!--            </label>-->
            <input class="radio-container__input" type="number" placeholder="Стоимость">
          </div>
        </div>


        <div>
          <div>
            <div class="h3 section-title">Категория</div>
            <dropdown
              placeholder="Выберите категорию ›"
              :options="categories"
              v-on:selected="validateSelection"

            >
              <div slot="dropDownSlot">
                <button class="dropdown-button h4 is-400 grey">Новая категория</button>
              </div>
            </dropdown>
          </div>

          <div class=" submit-button__container">
            <button class="submit_button grey-button blue-shadow h4 is-700 grey">
              Опубликовать
            </button>
          </div>
        </div>


      </div>
    </div>

  </modal>
</template>

<script>
import Modal from "../../components/UI/Modal";
import Dropdown from "../../components/UI/DropdownButton";
// import { quillEditor } from 'vue-quill-editor'

import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

export default {
  components: {Dropdown, Modal},

  data() {
    return {

      content: '<p>I am Example</p>',
      editorOption: {
        // Some Quill options...
        theme: 'snow',
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'code-block']
          ]
        }
      },
      //modalFirst: true,
      showModal: false,
      selectMaterialType: "article",
      selectAccessType: "free",
      selectCategoryType: "",
      categories: [
        {name: "Гипноз", id: "0"},
        {name: "Аффирмации", id: "1"},
        {name: "Длинная катеория", id: "2"},
        {name: "Гипноз", id: "3"},
        {name: "Аффирмации", id: "4"},
        {name: "Длинная катеория", id: "5"},
      ],
      selected: {name: null, id: null},
      questions: []
    }
  },
  methods: {
    onEditorBlur(editor) {
      console.log('editor blur!', editor)
    },
    onEditorFocus(editor) {
      console.log('editor focus!', editor)
    },
    onEditorReady(editor) {
      console.log('editor ready!', editor)
    },

    // Функция, получающая элемент из компонента dropdown
    validateSelection(selection) {
      this.selected = selection;
      // console.log(selection.name + ' has been selected');
    },

    // Добавляет вопрос в форму
    addNewQuestion() {
      this.questions.push(
        {text: ""}
      )
    },

    //Удаляет вопрос
    deleteQuestion(index) {
      this.$delete(this.questions, index)
    }
  },
};
</script>

<style lang="scss">

.button {
  cursor: pointer;
}

.modal-header__title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

textarea {
  min-height: 6rem;
}


.form-main {
  display: flex;
  flex-direction: column;
  //gap: 1rem;
  border: 1px solid #E5E5E5;
  padding: 1rem;
  border-radius: 0.25rem;
  height: 100%;

  .line {
    margin: 1rem 0;
  }

  //font-size: 1.5rem;
}

.modal-container {
  display: flex;
  //gap: 0.5rem;
  padding: 1rem;

  .form-container {
    margin-right: 0.5rem;
  }

}

.form-container {
  flex: 1 1 0px;
}

.select-container {
  border: 1px solid #E5E5E5;
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  //gap: 1rem;

  .section-title {
    padding-bottom: 0.5rem;
  }

  > :not(:last-child) {
    margin-bottom: 1rem;
  }
}

.radio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__input {
    border: solid 1px #e5e5e5;
    border-radius: .25rem;
    padding: .25rem .25rem;
    margin-top: .5rem;
    width: 100%;
  }

  label {
    padding: 0.5rem 0 1rem 0;
    width: 100%;
    cursor: pointer;

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    span {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    span::before {
      content: '';
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      flex-shrink: 0;
      flex-grow: 0;
      //border: 1px solid #adb5bd;
      background: #e5e5e5;
      border-radius: 50%;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }

    input:checked + span::before {
      background-color: #706C64;
    }

    input:checked + span {
      color: #000;
    }

  }


}

.submit-button__container {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  submit_button {
    height: min-content;
  }
}


.questions {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
      margin-left: 1rem;
    }
  }

  &__container {
    max-height: 10rem;
    overflow: auto;
    padding-top: 0.5rem;
  }

  &__item {
    border: 1px solid #E5E5E5;
    border-radius: 0.25rem;
    //padding: 0.5rem 1rem .5rem .5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    input {
      flex: 1 1 0px;
      padding: .5rem;
    }

    .questions__delete {
      padding: 0 1rem;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      transition: .1s;

      &:hover {
        background: #e7ecf5;
      }
    }
  }
}

.cover {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    margin-left: 1rem;
  }

  .button {
    cursor: pointer;
  }
}

.dropdown-button {
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  transition: .05s ease-in-out;
  display: flex;

  &:hover {
    background: #f3f3f3;
  }
}


@media screen and (max-width: 800px) {

  .modal-container {
    flex-direction: column;

    .form-container {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }

  .select-container {
    > div {
      display: flex;
      justify-content: space-between;

      > div {
        width: 45%;
      }
    }
  }
}
</style>


