/*
Модальное окно
Просмотр всех заявок
*/

<template>
  <modal
    v-show="showModal"
    @close="showModal = false">
    <div slot="header" class="modal-header__title h3 is-700">
      Всего новых заявок
    </div>
    <div class="modal-container" slot="body">
      <div class="request__container">
        <div class="request__item" v-for="(request, index) in requests" :key="index">
          <div class="request__body">
            <div class="request__title">
              <span class="h3 is-500">{{ request.from }}</span>
              <span class="h3 is-500 grey">• {{ request.time.getDate() }}
                {{ months[request.time.getMonth()] }},
                {{ request.time.getFullYear() }} •
                {{ request.time.getHours() }}:
             {{ request.time.getMinutes() }}
           </span>
              <span class="tag">Новое</span>
            </div>
            <div class="h3 is-500 grey">{{ request.category }}</div>
            <div class="h3 is-500 grey">{{request.linkId}}</div>
            <div class="h3 is-400 grey">{{ request.text }}</div>
            <div class="h3 is-400 request__continue">Читать далее...</div>
          </div>
          <div class="line"></div>
        </div>
      </div>

    </div>
  </modal>
</template>

<script>
import Modal from "../../components/UI/Modal";

export default {
  name: "RequestsModal",
  components: {Modal},
  data() {
    return {
      showModal: false,
      requests: [
        // {
        //   from: "Albertino Lolovando",
        //   time: new Date("2021-08-12T20:30:00.417Z"),
        //   category: "Гипноз/Как мне быть?",
        //   linkId: "@id121231313131",
        //   text: "Здраствуйте, Елена, подскажите, как мне можно получить больше информации про Собор Рождества"
        // },
        // {
        //   from: "Albertino Lolovando",
        //   time: new Date("2021-08-12T20:30:00.417Z"),
        //   category: "Гипноз/Как мне быть?",
        //   linkId: "@id121231313131",
        //   text: "Здраствуйте, Елена, подскажите, как мне можно получить больше информации про Собор Рождества"
        // },
        // {
        //   from: "Albertino Lolovando",
        //   time: new Date("2021-08-12T20:30:00.417Z"),
        //   category: "Гипноз/Как мне быть?",
        //   linkId: "@id121231313131",
        //   text: "Здраствуйте, Елена, подскажите, как мне можно получить больше информации про Собор Рождества"
        // },
        // {
        //   from: "Albertino Lolovando",
        //   time: new Date("2021-08-12T20:30:00.417Z"),
        //   category: "Гипноз/Как мне быть?",
        //   linkId: "@id121231313131",
        //   text: "Здраствуйте, Елена, подскажите, как мне можно получить больше информации про Собор Рождества"
        // },
        // {
        //   from: "Albertino Lolovando",
        //   time: new Date("2021-08-12T20:30:00.417Z"),
        //   category: "Гипноз/Как мне быть?",
        //   linkId: "@id121231313131",
        //   text: "Здраствуйте, Елена, подскажите, как мне можно получить больше информации про Собор Рождества"
        // },
          {
              from: "Albertino Lolovando",
              time: new Date("2021-08-12T20:30:00.417Z"),
              category: "Собор Рождества Богородицы",
              linkId: "@id121231313131",
              text: "Здраствуйте, Елена, подскажите, как мне можно получить больше информации про Собор Рождества"
          },
          {
              from: "Albertino Lolovando",
              time: new Date("2021-08-12T20:30:00.417Z"),
              category: "Собор Рождества Богородицы",
              linkId: "@id121231313131",
              text: "Здраствуйте, Елена, подскажите, как мне можно получить больше информации про Собор Рождества"
          },
          {
              from: "Albertino Lolovando",
              time: new Date("2021-08-12T20:30:00.417Z"),
              category: "Собор Рождества Богородицы",
              linkId: "@id121231313131",
              text: "Здраствуйте, Елена, подскажите, как мне можно получить больше информации про Собор Рождества"
          },
          {
              from: "Albertino Lolovando",
              time: new Date("2021-08-12T20:30:00.417Z"),
              category: "Собор Рождества Богородицы",
              linkId: "@id121231313131",
              text: "Здраствуйте, Елена, подскажите, как мне можно получить больше информации про Собор Рождества"
          },{
              from: "Albertino Lolovando",
              time: new Date("2021-08-12T20:30:00.417Z"),
              category: "Собор Рождества Богородицы",
              linkId: "@id121231313131",
              text: "Здраствуйте, Елена, подскажите, как мне можно получить больше информации про Собор Рождества"
          },{
              from: "Albertino Lolovando",
              time: new Date("2021-08-12T20:30:00.417Z"),
              category: "Собор Рождества Богородицы",
              linkId: "@id121231313131",
              text: "Здраствуйте, Елена, подскажите, как мне можно получить больше информации про Собор Рождества"
          },



      ],
      months: [
        "янв",
        "фев",
        "мар",
        "апр",
        "мая",
        "июн",
        "июл",
        "авг",
        "сен",
        "окт",
        "ноя",
        "дек",
      ],
    }
  },
  methods: {},
}
</script>

<style lang="scss" scoped>

.modal-container {
  display: flex;
  gap: 0.5rem;
  padding: 0rem;
  //max-height: 70vh;
  //overflow: auto;

}


.request__container {
  padding: 0 2rem;
  min-height: 70vh;
  overflow: auto;
  flex: 1 1 0px;
  .request__item{

  }
  .request__body {
    max-width: 60%;
    padding: 1rem 0;
    div{
      margin-bottom: 0.25rem;
    }
    @media screen and (max-width: 576px){
      max-width: none;
    }
    .request__title{
      display: flex;
      align-items: center;
      > :not(:last-child){
        margin-right: .25rem;
      }
      .tag{
        font-size: 12px;
        border-radius: .25rem;
        padding: .25rem;
        background: #e5e5e5;
      }
    }
  }

  .request__continue{
    display: inline-block;
    color: blue;
    border-bottom: 1px solid blue;
  }
}

</style>
