<template>
<!--  <b-dropdown class="" :text="filterText">-->
<!--    <b-dropdown-item-->
<!--      v-for="(option, index) in options"-->
<!--      :key="index"-->
<!--      @mousedown="selectOption(option)"-->
<!--    >-->
<!--      {{option.text}}-->
<!--    </b-dropdown-item>-->
<!--&lt;!&ndash;    <b-dropdown-item>По просмотрам</b-dropdown-item>&ndash;&gt;-->
<!--&lt;!&ndash;    <b-dropdown-item>По отметкам</b-dropdown-item>&ndash;&gt;-->
<!--&lt;!&ndash;    <b-dropdown-item>По дате</b-dropdown-item>&ndash;&gt;-->
<!--  </b-dropdown>-->
</template>

<script>
// import {BDropdown} from "bootstrap-vue";

export default {
  // components: {BDropdown},
  name: "DropdownButtonWithBootstrap",
  data() {
    return {
      filterText: "f,jf,",
      selected: {},
      options:[
        {text:"по категориям"},
        {text:"по просмотрам"}
      ]
    }
  },
  methods: {
    selectOption(option) {
      this.selected = option;
      //this.optionsShown = false;
      //this.searchFilter = this.selected.name;
      this.$emit('selected', this.selected);
      this.filterText = `Фильтр ${option.text}`
    },
  },
}
</script>

<style scoped>

</style>
