<template>
  <div class="dropdown" v-if="options">

    <!-- Dropdown Input -->
    <input class="dropdown-input"
           :name="name"
           @focus="showOptions()"
           @blur="exit()"
           @keyup="keyMonitor"
           v-model="searchFilter"
           :disabled="disabled"
           :placeholder="placeholder"/>

    <!-- Dropdown Menu -->
    <div class="dropdown-content"
         v-show="optionsShown">
      <div class="dropdown-body">
        <div
          class="dropdown-item h4"
          @mousedown="selectOption(option)"
          v-for="(option, index) in filteredOptions"
          :key="index">
          {{ option.name | truncate(maxWordLength,  "...") }}
        </div>
      </div>
      <slot name="dropDownSlot"></slot>
    </div>


  </div>
</template>

<script>
export default {
  name: 'Dropdown',
  template: 'Dropdown',
  props: {
    name: {
      type: String,
      required: false,
      default: 'dropdown',
      note: 'Input name'
    },
    options: {
      type: Array,
      required: true,
      default: [],
      note: 'Options of dropdown. An array of options with id and name',
    },
    placeholder: {
      type: String,
      required: false,
      default: 'Please select an option',
      note: 'Placeholder of dropdown'
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false,
      note: 'Disable the dropdown'
    },
    maxItem: {
      type: Number,
      required: false,
      default: 6,
      note: 'Max items showing'
    },
    maxWordLength: {
      type: Number,
      required: false,
      default: 20,
      note: 'max word len in dropdown'
    }
  },
  data() {
    return {
      selected: {},
      optionsShown: false,
      searchFilter: ''
    }
  },
  created() {
    this.$emit('selected', this.selected);
  },
  computed: {
    filteredOptions() {
      const filtered = [];
      const regOption = new RegExp(this.searchFilter, 'ig');
      for (const option of this.options) {
        if (this.searchFilter.length < 1 || option.name.match(regOption)) {
          if (filtered.length < this.maxItem) filtered.push(option);
        }
      }
      return filtered;
    }
  },
  methods: {
    selectOption(option) {
      this.selected = option;
      this.optionsShown = false;
      this.searchFilter = this.selected.name;
      this.$emit('selected', this.selected);
    },
    showOptions() {
      if (!this.disabled) {
        this.searchFilter = '';
        this.optionsShown = true;
      }
    },
    exit() {
      if (!this.selected.id) {
        this.selected = {};
        this.searchFilter = '';
      } else {
        this.searchFilter = this.selected.name;
      }
      this.$emit('selected', this.selected);
      this.optionsShown = false;
    },
    // Selecting when pressing Enter
    keyMonitor: function (event) {
      if (event.key === "Enter" && this.filteredOptions[0])
        this.selectOption(this.filteredOptions[0]);
    }
  },
  watch: {
    searchFilter() {
      if (this.filteredOptions.length === 0) {
        this.selected = {};
      } else {
        this.selected = this.filteredOptions[0];
      }
      this.$emit('filter', this.searchFilter);
    }
  },
  filters: {
    truncate: function (text, length, suffix) {
      // console.log(length)
      if (text.length > length) {
        return text.substring(0, length) + suffix;
      } else {
        return text;
      }
    }
  }
};
</script>


<style lang="scss" scoped>
.dropdown {
  position: relative;
  display: block;
  margin: auto;

  .dropdown-input {
    background: #e5e5e5;
    cursor: pointer;
    //border: 1px solid #e7ecf5;
    border-radius: 0.25rem;
    color: #706C64;
    display: block;
    //font-size: .8em;
    padding: 0.5rem;
    min-width: 100%;
    max-width: 250px;
    transition: .1s;

    &:hover {
      background: #f8f8fa;
    }
  }

  .dropdown-content {
    bottom: calc(100% + 1px);
    position: absolute;
    background-color: #fff;
    min-width: 248px;
    max-width: 248px;
    max-height: 248px;
    //border: 1px solid #e7ecf5;
    box-shadow: 0px -8px 34px 0px rgba(0, 0, 0, 0.05);
    overflow: auto;
    z-index: 1;

    border: 1px solid #E5E5E5;
    //box-sizing: border-box;
    border-radius: 0px 0px 0.25rem 0.25rem;

    .dropdown-body {
      max-height: 200px;
      overflow: auto;
    }

    .dropdown-item {
      color: black;
      //font-size: .7em;
      //line-height: 1em;
      //padding: 8px;
      padding: 1rem;
      text-decoration: none;
      display: block;
      cursor: pointer;
      border-bottom: 1px solid #e5e5e5;

      &:hover {
        background-color: #e7ecf5;
      }
    }
  }

  .dropdown:hover .dropdowncontent {
    display: block;
  }
}
</style>
