<template>
  <div class="dropdown" v-if="options">

    <button class="dropdown-input h3 is-500"
            @focus="showOptions()"
            @blur="exit()"
    >
      Фильтр {{ selected.textForButton }}
    </button>

    <!-- Dropdown Menu -->
    <div class="dropdown-content"
         v-show="optionsShown">
      <div
        class="dropdown-item h4"
        @mousedown="selectOption(option)"
        v-for="(option, index) in options"
        :key="index">
        <div class="h4 is-500 grey">{{ option.name }}</div>
      </div>
      <slot name="dropDownSlot"></slot>
    </div>


  </div>
</template>

<script>
export default {
  name: 'Dropup',
  props: {
    name: {
      type: String,
      required: false,
      default: 'dropdown',
      note: 'Input name'
    },
    // options: {
    //   type: Array,
    //   required: true,
    //   default: [],
    //   note: 'Options of dropdown. An array of options with id and name',
    // },
    placeholder: {
      type: String,
      required: false,
      default: 'Please select an option',
      note: 'Placeholder of dropdown'
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false,
      note: 'Disable the dropdown'
    },
    maxItem: {
      type: Number,
      required: false,
      default: 6,
      note: 'Max items showing'
    },
    maxWordLength: {
      type: Number,
      required: false,
      default: 20,
      note: 'max word len in dropdown'
    }
  },
  data() {
    return {
      selected: {textForButton: "по категориям"},
      optionsShown: false,
      searchFilter: '',
      options: [
        {name: "По категориям", textForButton: "по категориям", id: "0"},
        {name: "По просмотрам", textForButton: "по просмотрам", id: "1"}
      ]
    }
  },
  mounted() {
    this.selected = this.options[0]
  },
  created() {
    this.$emit('selected', this.selected);
  },

  methods: {
    checkSelected() {
      console.log(this.selected.name)
    },
    selectOption(option) {
      this.selected = option;
      this.optionsShown = false;
      this.searchFilter = this.selected.name;
      this.$emit('selected', this.selected);
    },
    showOptions() {
      if (!this.disabled) {
        this.searchFilter = '';
        this.optionsShown = true;
      }
    },
    exit() {
      if (!this.selected.id) {
        this.selected = {};
        this.searchFilter = '';
      } else {
        this.searchFilter = this.selected.name;
      }
      this.$emit('selected', this.selected);
      this.optionsShown = false;
    },
  },
};
</script>


<style lang="scss" scoped>
.dropdown {
  position: relative;
  display: block;
  margin: auto;

  .dropdown-input {
    //background: #e5e5e5;
    cursor: pointer;
    //border: 1px solid #e7ecf5;
    border-radius: 0.25rem;
    color: #706C64;
    display: block;
    //font-size: .8em;
    padding: 0.5rem;
    min-width: 100%;
    max-width: 250px;
    transition: .1s;

    &:hover {
      background: #f8f8fa;
    }
  }

  .dropdown-content {
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    max-width: 200px;
    max-height: 248px;
    //border: 1px solid #e7ecf5;
    box-shadow: 0px -8px 34px 0px rgba(0, 0, 0, 0.05);
    overflow: auto;
    z-index: 1;

    border: 1px solid #E5E5E5;
    //box-sizing: border-box;
    border-radius: 0px 0px 0.25rem 0.25rem;


    .dropdown-item {
      color: black;
      //font-size: .7em;
      //line-height: 1em;
      padding: 1rem 1rem;
      text-decoration: none;
      display: block;
      cursor: pointer;
      border-bottom: 1px solid #e5e5e5;

      &:hover {
        background-color: #e7ecf5;
      }
    }
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
</style>
