<template>
  <transition name="modal">
    <div class="modal__wrapper">
      <div class="modal-content" @click.stop="">
        <!-- header -->
        <div class="modal-header">
          <!--                    <span class="modal-title"> {{ title }} </span>-->
          <slot name="header">Default header</slot>
          <span class="button-close circle-block" @click="$emit('close')">×</span>
        </div>
        <!-- body -->
        <div class="modal-body">
          <slot name="body">Default body</slot>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    title: {
      type: String
    },
  },
  mounted() {
    document.body.addEventListener("keyup", (e) => {
      if (e.key === "Escape") this.$emit("close");
    });
  },
  computed: {},
  methods: {},
};
</script>

<style lang="scss" scoped>

.modal-enter, .modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-content,
.modal-leave-active .modal-content {
  transform: scale(1.2);
}

.modal__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: opacity .2s ease;
  right: 0;
  z-index: 998;
  background-color: rgba(00, 00, 00, .40);
  padding: 1rem;
}

.modal-content {
  position: relative;
  background-color: #fff;
  transition: all .2s ease;
  border-radius: 0.25rem;
  z-index: 999;

  width: 55vw;
  max-width: 1200px;
  max-height: 100vh;

  max-height: 100%;
  display: flex;
  flex-direction: column;

  overflow: auto;

  @media screen and (max-width: 800px) {
    overflow: hidden;
    width: 100%;
  }

}

.modal-header {
  display: flex;
  align-self: center;
  justify-content: space-between;
  /*padding-bottom: 1rem;*/
  border-bottom: 1px solid #E5E5E5;
  padding: 1rem 1rem;
  width: 100%;
  gap: 1rem;

  .button-close {
    cursor: pointer;
    font-size: 1.5rem;
  }

}

.modal-body {
height: 100%;
  overflow: auto;
}

.modal-bottom {

}

</style>
