<template>
  <div class="container">
    <header class="header">
      <div class="h3 is-500">Редактор категорий</div>
      <button class="button grey-button is-500 grey" @click="$refs.modal.showModal = true">+ Новая категория</button>
    </header>
    <main class="main">
      <draggable
        v-model="categories"
        handle=".handle"
        animation="150"
        class="cards"
      >
        <div class="card" v-for="(category, index) in categories" :key="index">
          <div class="card__body">
            <!-- <div class="card__img"></div> -->
            <span class="handle"
              ><img src="drag_indicator_black_24dp.svg" alt=""
            /></span>
            <div class="card__description">
              <div class="card__title h3 is-500">
                {{ category.title }} |
                <span class="grey">{{ category.count }} материалов</span>
              </div>
              <div class="card__publication h3 grey is-400">
                Последнее обновление {{ category.lastUpdate.getDate() }}
                {{ months[category.lastUpdate.getMonth()] }},
                {{ category.lastUpdate.getFullYear() }} в
                {{ category.lastUpdate.getHours() }}:{{
                  category.lastUpdate.getMinutes()
                }}
              </div>
            </div>
          </div>
          <div class="card__buttons">
            <button class="button card__button h4">Редактировать</button>
            <button class="button card__button h4">Удалить</button>
          </div>
        </div>
      </draggable>
    </main>
    <CategoryEditorModal ref="modal"/>
  </div>
</template>

<script>
import draggable from "vuedraggable";
import CategoryEditorModal from "./Modals/CategoryEditorModal";
export default {
  components: { draggable, CategoryEditorModal},
  data() {
    return {
      title: "Гипноз",
      months: [
        "янв",
        "фев",
        "мар",
        "апр",
        "мая",
        "июн",
        "июл",
        "авг",
        "сен",
        "окт",
        "ноя",
        "дек",
      ],
      categories: [
        // {
        //   title: "Гипноз",
        //   count: 10,
        //   lastUpdate: new Date("2021-08-12T20:30:00.417Z"),
        // },
        // {
        //   title: "Аффирмации",
        //   count: 10,
        //   lastUpdate: new Date("2021-08-12T20:30:00.417Z"),
        // },

        {
          title: "Храмы",
          count: 10,
          lastUpdate: new Date("2021-08-12T20:30:00.417Z"),
        },
        {
          title: "Экскурсии",
          count: 10,
          lastUpdate: new Date("2021-08-12T20:30:00.417Z"),
        },
        {
          title: "Аудиокниги",
          count: 10,
          lastUpdate: new Date("2021-08-12T20:30:00.417Z"),
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;

  @media screen and (max-width: 576px){
    padding: 1rem;
  }
}

.main {
  padding: 0 1rem;
  overflow: auto;
  max-height: 100%;
}

.title {
  padding: 1.5rem 0 0 0;
  font-weight: 700;
}

.container {
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.icon-container {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.grey-button {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 700;
  padding: 0.5rem;
  background-color: #e5e5e5;
  box-shadow: 0px 0px 4px rgba(10, 93, 255, 0.25);
  border-radius: 0.25rem;
}
.cards {
  overflow-y: auto;
}
.card {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0rem;
  border-top: 1px solid #e5e5e5;
  background-color: #fff;

  @media screen and (max-width: 576px){
    padding: 1rem 0;
  }
  //gap: 1rem;
}
.handle {
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    height: 2rem;
  }
}
.cards .card:first-child {
  border-top: none;
}
.card__body {
  display: flex;
  margin-right: 1rem;

  @media screen and (min-width: 460px) {
    min-width: 31rem;
  }
  //gap: 2rem;
}
.card__img {
  width: 5rem;
  height: 5rem;
  background-color: lightgrey;
}
.card__description {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  > :not(:last-child){
    margin-bottom: 0.25rem;
  }
}
.card__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  > :not(:last-child){
    margin-bottom: 0.5rem;
  }
}
.card__button {
  //font-size: 1.25rem;
  font-weight: 400;
  color: #004c81;
}
</style>


