/*
Блок
Отображение и взаимодействие с контентом
*/

<template>
  <div class="container">
    <header class="header desktop">
      <div class="header__title h3 is-500">Редактор материалов</div>
      <div class="header__filter">
        <button class="button h3 is-500 grey" @click="descending = !descending">
        <span class="icon-container filter-icon"
        ><img src="icons/Редактор категорий/sync_alt.svg" alt=""
        /></span>
        </button>
        <dropdown-filter v-on:selected="validateSelection"></dropdown-filter>
      </div>
      <button class="button grey-button h3 is-700 grey" @click="$refs.modal.showModal = true">+ Новый материал</button>

    </header>
    <header class="header mobile">
      <div class="header__title h3 is-500">Редактор материалов</div>
      <div class="line"></div>
      <div class="header__buttons">
        <!--        <button class="button h3 is-500 grey">-->
        <!--        <span class="icon-container filter-icon"-->
        <!--        ><img src="icons/Редактор категорий/sync_alt.svg" alt=""-->
        <!--        /></span>-->
        <!--          Фильтр по категориям-->
        <!--        </button>-->
        <div class="header__filter">
          <button class="button h3 is-500 grey" @click="descending = !descending">
        <span class="icon-container filter-icon"
        ><img src="icons/Редактор категорий/sync_alt.svg" alt=""
        /></span>
          </button>

          <dropdown-filter v-on:selected="validateSelection"></dropdown-filter>
        </div>
        <button class="button grey-button grey h3 is-700" @click="$refs.modal.showModal = true">+ Новый материал
        </button>
      </div>
    </header>

    <main class="main">
      <!--      <div class="title h2">{{ title }}</div>-->
      <div class="cards">

        <div v-if="filterSelected.id==0">
          <div class="card__section" v-for="(category, index) in categories" :key="index">
            <div class="title h2">{{ category.name }}</div>
            <div class="card" v-for="(material, index) in sortedMaterialsByCategory(category.id)" :key="index">
              <div class="card__body">
                <div class="card__img"></div>
                <div class="card__description">
                  <div class="card__title h3 is-500">
                <span>{{ category.name }} / {{ material.title }}</span
                ><span class="icon-container"
                  ><img src="icons/Редактор категорий/Group 1.svg" alt=""
                  /></span>
                  </div>
                  <div class="card__publication h3 grey is-400">
                    Опубликованно • {{ material.publication.getDate() }}
                    {{ months[material.publication.getMonth()] }},
                    {{ material.publication.getFullYear() }} •
                    {{ material.publication.getHours() }}:{{
                      material.publication.getMinutes()
                    }}
                  </div>
                  <div class="card__views h3 grey is-400">
                <span style="display: flex; align-items: center"
                ><img
                  src="icons/Редактор категорий/Vector.svg"
                  alt=""/></span
                >{{ material.views }} просмотров
                  </div>
                </div>
              </div>
              <div class="card__buttons">
                <button class="button card__button h4">Редактировать</button>
                <button class="button card__button h4">Удалить</button>
              </div>
            </div>
          </div>
        </div>


        <div v-else>
          <div class="card" v-for="(material, index) in sortedList" :key="index">
            <div class="card__body">
              <div class="card__img"></div>
              <div class="card__description">
                <div class="card__title h3 is-500">
                <span>{{ categories.filter(e => e.id == material.categoryId)[0].name }} / {{ material.title }}</span
                ><span class="icon-container"
                ><img src="icons/Редактор категорий/Group 1.svg" alt=""
                /></span>
                </div>
                <div class="card__publication h3 grey is-400">
                  Опубликованно • {{ material.publication.getDate() }}
                  {{ months[material.publication.getMonth()] }},
                  {{ material.publication.getFullYear() }} •
                  {{ material.publication.getHours() }}:{{
                    material.publication.getMinutes()
                  }}
                </div>
                <div class="card__views h3 grey is-400">
                <span style="display: flex; align-items: center"
                ><img
                  src="icons/Редактор категорий/Vector.svg"
                  alt=""/></span
                >{{ material.views }} просмотров
                </div>
              </div>
            </div>
            <div class="card__buttons">
              <button class="button card__button h4">Редактировать</button>
              <button class="button card__button h4">Удалить</button>
            </div>
          </div>
        </div>

      </div>
    </main>
    <content-editor-modal ref="modal"/>
  </div>
</template>

<script>
import ContentEditorModal from "./Modals/ContentEditorModal";

import DropdownFilter from "./UI/DropdownFilter";
//import DropdownButtonWithBootstrap from "./UI/DropdownButtonWithBootstrap";

export default {
  components: {ContentEditorModal, DropdownFilter},
  data() {
    return {
      title: "Гипноз",
      showContentEditorModal: false,
      filterSelected: {},
      descending:true,
      months: [
        "янв",
        "фев",
        "мар",
        "апр",
        "мая",
        "июн",
        "июл",
        "авг",
        "сен",
        "окт",
        "ноя",
        "дек",
      ],
      categories: [
        // {name: "Гипноз", id: 0},
        // {name: "Аффирмации", id: 1},
        {name: "Храмы", id: 0},
        {name: "Экскурсии", id: 1},
        {name: "Аудиокниги", id: 2},
      ],
      materials: [
        // {
        //   title: "Как мне быть?",
        //   //   publication: "12 авг, 2021 • 20:30",
        //   //   publication: "12 авг, 2021 • 20:30",
        //   publication: new Date("2021-08-12T20:30:00.417Z"),
        //   categoryId: 0,
        //   views: 10,
        //   description: "",
        //   text: "",
        //   video: "",
        //   link: ""
        // },
        // {
        //   title: "Как мне быть?",
        //   categoryId: 0,
        //   //   publication: "12 авг, 2021 • 20:30",
        //   publication: new Date("2012-01-26T13:51:50.417Z"),
        //   views: 2,
        // },
        // {
        //   title: "Как мне быть?",
        //   categoryId: 1,
        //   //   publication: "12 авг, 2021 • 20:30",
        //   //   publication: "12 авг, 2021 • 20:30",
        //   publication: new Date("2021-08-12T20:30:00.417Z"),
        //   views: 1,
        // },
        // {
        //   title: "Как мне быть?",
        //   categoryId: 1,
        //   //   publication: "12 авг, 2021 • 20:30",
        //   publication: new Date("2012-01-26T13:51:50.417Z"),
        //   views: 4,
        // },
        // {
        //   title: "Как мне быть?",
        //   categoryId: 0,
        //   //   publication: "12 авг, 2021 • 20:30",
        //   //   publication: "12 авг, 2021 • 20:30",
        //   publication: new Date("2021-08-12T20:30:00.417Z"),
        //   views: 5,
        // },
        // {
        //   title: "Как мне быть?",
        //   categoryId: 1,
        //   //   publication: "12 авг, 2021 • 20:30",
        //   publication: new Date("2012-01-26T13:51:50.417Z"),
        //   views: 3,
        // },
        // {
        //   title: "Как мне быть?",
        //   categoryId: 0,
        //   //   publication: "12 авг, 2021 • 20:30",
        //   //   publication: "12 авг, 2021 • 20:30",
        //   publication: new Date("2021-08-12T20:30:00.417Z"),
        //   views: 7,
        // },
        // {
        //   title: "Как мне быть?",
        //   categoryId: 1,
        //   //   publication: "12 авг, 2021 • 20:30",
        //   publication: new Date("2012-01-26T13:51:50.417Z"),
        //   views: 0,
        // },
        {
          title: "Собор Рождества Богородицы",
          //   publication: "12 авг, 2021 • 20:30",
          //   publication: "12 авг, 2021 • 20:30",
          publication: new Date("2021-08-12T20:30:00.417Z"),
          categoryId: 0,
          views: 10,
          description: "",
          text: "",
          video: "",
          link: ""
        },
        {
          title: "Преображенский собор",
          categoryId: 0,
          //   publication: "12 авг, 2021 • 20:30",
          publication: new Date("2012-01-26T13:51:50.417Z"),
          views: 2,
        },
        {
          title: "Преображенский собор",
          categoryId: 1,
          //   publication: "12 авг, 2021 • 20:30",
          //   publication: "12 авг, 2021 • 20:30",
          publication: new Date("2021-08-12T20:30:00.417Z"),
          views: 1,
        },
        {
          title: "Преображенский собор",
          categoryId: 1,
          //   publication: "12 авг, 2021 • 20:30",
          publication: new Date("2012-01-26T13:51:50.417Z"),
          views: 4,
        },
        {
          title: "Собор Святого пророка Иоанна Предтечи",
          categoryId: 0,
          //   publication: "12 авг, 2021 • 20:30",
          //   publication: "12 авг, 2021 • 20:30",
          publication: new Date("2021-08-12T20:30:00.417Z"),
          views: 5,
        },
        {
          title: "Собор Святого пророка Иоанна Предтечи",
          categoryId: 1,
          //   publication: "12 авг, 2021 • 20:30",
          publication: new Date("2012-01-26T13:51:50.417Z"),
          views: 3,
        },
        {
          title: "Собор Святого пророка Иоанна Предтечи",
          categoryId: 0,
          //   publication: "12 авг, 2021 • 20:30",
          //   publication: "12 авг, 2021 • 20:30",
          publication: new Date("2021-08-12T20:30:00.417Z"),
          views: 7,
        },
        {
          title: "Собор Святого пророка Иоанна Предтечи",
          categoryId: 1,
          //   publication: "12 авг, 2021 • 20:30",
          publication: new Date("2012-01-26T13:51:50.417Z"),
          views: 0,
        },

      ],
    };
  },
  mounted() {
    this.filterSelected = {name: "category", id: 0}
  },

  computed: {

    //сортировка списка с контентом
    sortedList() {
      switch (this.filterSelected.id) {
        //По просмотрам
        case "1":
          return this.descending ? this.materials.sort(this.sortedMaterialsByViewsDescending) : this.materials.sort(this.sortedMaterialsByViewsAscending)
        //По дате
        case "3":
          return this.descending ? this.materials.sort(this.sortedMaterialsByDateDescending) : this.materials.sort(this.sortedMaterialsByDateAscending)
        default: return this.materials
      }
    }
  },
  methods: {
    //Из компонента dropdown получает элемет
    // В данном случае тип сортировки списка (фильтр)
    validateSelection(selection) {
      this.filterSelected = selection;
      console.log(selection.name + ' has been selected');
      console.log(this.filterSelected);
    },

    //сортировка по категориям
    sortedMaterialsByCategory: function (categoryId) {
      return this.materials.filter(e => e.categoryId === categoryId)
    },

    //сортировка по просмотрам
    //по возрастанию
    sortedMaterialsByViewsAscending: (a, b) => {
      return ((a.views > b.views) ? 1 : -1)
    },
    //по убыванию
    sortedMaterialsByViewsDescending: (a, b) => {
      return ((a.views > b.views) ? -1 : 1)
    },

    //сортировка по дате
    //по возрастанию
    sortedMaterialsByDateAscending: (a, b) => {
      return ((a.publication > b.publication) ? 1 : -1)
    },
    //по убыванию
    sortedMaterialsByDateDescending: (a, b) => {
      return ((a.publication > b.publication) ? -1 : 1)
    },

    reverseList: () => {

    }
  }
}
;
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;

  .filter-icon {
    img {
      height: 1.5rem;
    }
  }

  .header__filter {
    display: flex;
  }

  > :not(:last-child) {
    margin-right: 0.25rem;
  }

  &.mobile {
    display: none;
    padding: 0;

    .header__title {
      padding: 1rem;
    }

    .header__buttons {
      padding: .5rem 1rem;
    }
  }

  @media screen and (max-width: 576px) {

    &.desktop {
      display: none;
    }
    &.mobile {
      display: flex;
      flex-direction: column;

      .header__buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

}

//.header__buttons{
//  display: flex;
//  justify-content: space-between;
//  width: 57%;
//  > :not(:last-child){
//    margin-right: 0.25rem;
//  }
//}
.button {
  display: flex;
  align-items: center;

}

.main {
  padding: 0 1rem;
  overflow: auto;
  max-height: 100%;
}

.title {
  padding: 1.5rem 0 0 0;
  font-weight: 700;
}

.container {
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.icon-container {
  display: flex;
  align-items: center;
}


//.grey-button {
//  font-size: 1.25rem;
//  line-height: 1.25rem;
//  font-weight: 700;
//  padding: 0.5rem;
//  background-color: #e5e5e5;
//  box-shadow: 0px 0px 4px rgba(10, 93, 255, 0.25);
//  border-radius: 0.25rem;
//}
.cards {
  overflow-y: auto;

  .card {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0rem;
    //border-top: 1px solid #e5e5e5;
    //gap: 1rem;
  }

  .card:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }

  //.card:first-child {
  //  border-top: none;
  //}
}


//.cards .card:first-child {
//  border-top: none;
//}


.card__body {
  flex: 1 1 0px;
  display: flex;
  //gap: 2rem;
  margin-right: 1rem;
  @media screen and (min-width: 460px) {
    min-width: 31rem;
  }
  max-width: 600px;
}

.card__img {
  width: 5rem;
  height: 5rem;
  background-color: lightgrey;
  flex-shrink: 0;
}

.card__description {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;

  > :not(:last-child) {
    margin-bottom: 0.25rem;
  }

  //gap: 0.25rem;
  /*max-width: 450px;*/
  /*width: max-content;*/
}

.card__title {
  display: flex;
  align-content: center;
  justify-content: space-between;
  //gap: 1rem;
}

.card__views {
  display: flex;
  //gap: 0.25rem;
  span {
    margin-right: 0.25rem;
  }
}

.card__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;

  > :not(:last-child) {
    margin-bottom: 0.5rem;
  }

  //gap: 0.5rem;
}

.card__button {
  //font-size: 1.25rem;
  font-weight: 400;
  color: #004c81;
}

@media screen and (max-width: 992px) {

  .header {
    padding: 1rem;
  }
  .main {
    .title {
      font-size: 1.5rem;
    }
  }
  .card {
    padding: 1rem 0rem;

    .card__img {
      width: 3.2rem;
      height: 3.2rem;
    }

    .card__description {
      > * {
        //font-size: 1rem;
      }

      .card__views {
        img {
          height: 0.6rem;
          height: 0.6rem;
        }
      }
    }

    .icon-container {
      img {
        height: 1rem;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .card {
    padding: 1rem 0rem;

    .card__img {
      width: 3.2rem;
      height: 3.2rem;
    }

    .card__description {
      > * {
        font-size: 1rem;
      }

      .card__views {
        img {
          height: 0.6rem;
          height: 0.6rem;
        }
      }
    }

    .icon-container {
      img {
        height: 1rem;
      }
    }
  }
}
</style>


