<template>
  <nav class="nav">
    <div class="logo"><img src="Forfis Bloger.svg" alt="" /></div>
    <div class="h2 title is-500">{{ title }} ›</div>
    <button class="button h2 is-500 grey">
      Помощь<span class="icon-container"
        ><img src="icons/Subtract.svg" alt=""
      /></span>
    </button>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      title: "Сокровища Пскова",
      // title: "Спроси Психолога",
    };
  },
};
</script>

<style lang="scss" scoped>
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e5e5e5;
  .title{

  }

  .logo {
    display: flex;
    align-items: center;
    img{
      height: 2rem;
    }
  }
  .icon-container {
    display: flex;
    align-items: center;
  }
  .button {
    display: flex;
    align-items: center;
    span{
      margin-left: 0.25rem;
      img{
        height: 1.5rem;
      }
    }
  }
  @media screen and (max-width: 576px){
    padding: 1rem 1.6rem;
    border-bottom: none;
    .logo{
      img{
        height: 1.2rem;
      }
    }
  }
}

</style>
