<template>
  <div class="requests-wrapper">
    <div class="title h3 is-500">
      <span>Всего новых заявок</span>
      <!-- <span class="circle-block">{{ newRequests.length }}</span> -->
      <span class="circle-block">9+</span>
    </div>
    <button class="button grey is-700" @click="$refs.modal.showModal=true">Посмотреть заявки ›</button>
    <requests-modal ref="modal" />
  </div>

</template>
<script>
import RequestsModal from "./Modals/RequestsModal";
export default {
  components:{RequestsModal},
  data() {
    return {
      newRequests: [{}, {}],
    };
  },
};
</script>
<style lang="scss" scoped>
.requests-wrapper {
  padding: 2rem 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 550px){
    padding: 1rem;
  }
}
.button {
  font-size: 1.25rem;
  padding: 0.5rem;
  background-color: #e5e5e5;
  box-shadow: 0px 0px 4px rgba(10, 93, 255, 0.25);
  border-radius: 0.25rem;
}
.title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  //gap: 0.25rem;
  > :not(:last-child){
    margin-right: 0.25rem;
  }
}



</style>
