h2, .h2 {
  font-size: 2rem;
  line-height: 100%;
}

h3, .h3 {
  font-size: 1.5rem;
  line-height: 100%;
}
h4, .h4{
  font-size: 1.25rem;
  line-height: 100%;
}
h5, .h5{
  font-size: 1rem;
  line-height: 100%;
}

.grey {
  color: #706C64;
}

.is-400 {
  font-weight: 400;
}

.is-500 {
  font-weight: 500;
}

.is-700 {
  font-weight: 700;
}

@media screen and (max-width: 550px){

  html{
    font-size: 10px;
  }

  h2, .h2 {
    font-size: 1.2rem;
  }
  h3, .h3 {
    font-size: 1.2rem;
  }
  h4, .h4{
    font-size: 1.2rem;
  }
  h5, .h5{
    font-size: 1rem;
  }
}
