@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&display=swap');
@import "./typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font: inherit;
  color: inherit;
}

textarea{
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font: inherit;
  color: inherit;
  outline: none;
  resize: none;
}

html {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;

  @media screen and (max-width: 1440px){
    font-size: 14px;
  }
  @media screen and (max-width: 1200px){
    font-size: 12px;
  }
  @media screen and (max-width: 576px){
    font-size: 10px;
  }
}

body{
  lock{
    overflow: hidden;
  }
}

.circle-block {
  background: #e5e5e5;
  color: #706c64;
  min-width: 2em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.circle-block::before {
  content: "";
  padding-bottom: calc(100% + 0.25rem * 2);
}

.line {
  width: 100%;
  height: 1px;
  background: #e5e5e5;
}

.grey-button{
  padding: 0.5rem;
  background: #e5e5e5;
  border-radius: 0.25rem;

  &.blue-shadow{
    box-shadow: 0px 0px 4px rgba(10, 93, 255, 0.25);
  }
}
