<template>
  <div class="wrapper">
    <nav-bar/>
    <div class="content-wrapper">
      <div class="content-left">
        <content-editor class="content-editor"/>
      </div>
      <div class="content-left">
        <requests class="requests"/>
        <category-editor class="category-editor"/>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import CategoryEditor from "../components/CategoryEditor.vue";
import ContentEditor from "../components/ContentEditor.vue";
import Requests from "../components/Requests.vue";

export default {
  components: {NavBar, CategoryEditor, ContentEditor, Requests},

};
</script>


<style lang="scss" scoped>
.wrapper {
  padding: 0 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0px auto;

  @media screen and (max-width: 1500px) {
    padding: 0 4rem 0 4rem;
  }
  @media screen and (max-width: 1200px) {
    padding: 0 2rem 0 2rem;
  }
  @media screen and (max-width: 768px) {
    padding: 0 calc(1rem) 1rem 1rem;
  }
}

.content-wrapper {
  padding: 2rem 0 1rem 0;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  height: 100%;
  flex: 1 1 0px;
}

.content-left {
  flex: 1 1 0px;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.content-editor {
  flex: 1 0 0px;
  max-height: 100%;
  min-height: 50vh;
}

.requests {
}

.category-editor {
  flex: 1 0 0px;
  max-height: 100%;
  min-height: 50vh;
}
</style>
