<template>
  <div>
    <form action="" method="post" @submit.prevent="login">
      <div>Вход в аккаунт</div>
      <input v-model="email" type="text" placeholder="Ваш email">
      <input v-model="password" type="password" placeholder="Введите пароль">
      <button type="submit">Войти в аккаунт</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "login",
  components: {},
  data() {
    return {
      email: undefined,
      password: undefined,
    }
  },
  methods: {
    async login() {
      // try {
      //   await this.$auth.loginWith('local', {
      //     data: {
      //       email: this.email,
      //       password: this.password
      //     }
      //   }).then(res => {
      //     console.log(res)
      //     this.$router.push('/admin/Azs')
      //     //this.$auth.setUserToken('local', 'Bearer ' + res.data.accessToken)
      //   })
      //
      //
      // } catch (e) {
      //   console.log(e)
      //   //this.error = e.response.data.message
      // }
    },
  }
}
</script>

<style scoped>

</style>
